In [10]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

In [11]:
t1[1:5]

(2, 3, 4, 5)

In [12]:
d1 = {"name":"gitam","emailid":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'emailid': 'gitam@gmail.com', 'address': 'hyderabad'}

In [13]:
d1["name"]

'gitam'

In [15]:
d1['emailid'] = 'gitam-python@gmail.com'

In [16]:
d1['emailid']

'gitam-python@gmail.com'

In [17]:
del d1['emailid']

In [18]:
d1

{'name': 'gitam', 'address': 'hyderabad'}

In [19]:
 d1.keys()

dict_keys(['name', 'address'])

In [20]:
d1.values()

dict_values(['gitam', 'hyderabad'])

In [21]:
d1.items()

dict_items([('name', 'gitam'), ('address', 'hyderabad')])

In [4]:
contacts = {}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact is details are added")
    else:
        print("contact details are already exists")
    return
addcontact('jhansi','9846585461')
addcontact('vishal','6546987417')
addcontact('jhansi','9846585461')

contact is details are added
contact is details are added
contact details are already exists

In [28]:
def searchcontact(name):
    if name  in contacts:
        print(name,":",contacts[name])
    else:
        print("is does not exists"% name)
    return
searchcontact('jhansi')
searchcontact('vishal')
searchcontact('jhansi')

jhansi : 9846585461
vishal : 6546987417
jhansi : 9846585461

In [33]:
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()), "contacts are added sucessfuly")
    return
newcontacts = {'kushal':9874563211,'uday':6549871238}
importcontact(newcontacts)

2 contacts are added sucessfuly

In [34]:
contacts

{'jhansi': '9846585461',
 'vishal': '6546987417',
 'kushal': 9874563211,
 'uday': 6549871238}

In [37]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('uday')

uday deleted successfully

In [38]:
contacts

{'jhansi': '9846585461', 'vishal': '6546987417', 'kushal': 9874563211}

In [39]:
def deletecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
deletecontact('kushal',6549871235)
deletecontact('uday',6541239874)

kushal updated successfully
uday not exists

In [41]:
li=["python","programming"]
print("%s%s"%(li[0],li[1]))

pythonprogramming

In [43]:

print("{0}{1}".format(li[0],li[1]))

pythonprogramming

In [44]:
li1=[1,2,3,4]
print("%d%d%d%d"%(li1[0],li1[1],li1[2],li1[3]))

1234

In [46]:
s1 = 'gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

In [48]:
s1 = 'gitam'
print(s1.islower())
print(s1.isupper())

True
False

In [52]:
s2 = "Python Programmig"
s3 = "python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [55]:
s2 = "application1889"
s3 = 'PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [57]:
s1 = "1234"
s = "application1234"
print(s1.isnumeric())
print (s2.isnumeric())

True
False

In [60]:
s1 = " "
s2 = "Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

In [63]:
s1 = 'Python'
print(" ".join(s1))

P y t h o n

In [64]:
s2 = "python programming eay to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,y, ,t,o, ,l,e,a,r,n

In [65]:
li = ['python','programming','learn']
print(",".join(li))

python,programming,learn

In [67]:
s2 = "python programming eay to learn"
print(s2.split('a'))

['python progr', 'mming e', 'y to le', 'rn']

In [68]:
s2 = "python programming eay to learn"
li = s2.split()
print(li)
print(len(li))

['python', 'programming', 'eay', 'to', 'learn']
5

In [69]:
s2 = "python programming eay to learn"
li = list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [70]:
s2 = "python programming eay to learn"
print(s2.replace("gra","application"))

python proapplicationmming eay to learn

In [71]:
import  math
math.floor(123.45)  z

123